
img {
    max-width: 1000px;
    min-width: 100px;
    display: block;
    float: left;
    visibility: hidden;
}

/*
p {
   display: inline;
}
   */



h1 {
    border: 2px solid red;
    padding: 14px 28px 42px 56px;
    margin: 14px 28px;
    text-align: center;
    vertical-align: middle;
}

.blok {
    border: 2px solid black;
    padding: 0px 12px;
    margin: 5px 5px;
    display: inline-block;
    width: 500px;
    text-align: justify;
    overflow: auto;
}

#clanky {
    margin: auto auto;
    display: block;
    text-align: center;
}