/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    border-color: #fff;
    border-radius: 5px;
}

.section {
    padding: 2rem;
    text-align: justify;
    display: inline-block;
    width: 750px;

}

main {
    text-align: center;
    margin-top: 100px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* MQ */
@media screen and (max-width: 1000px) and (min-width:500px) {
    header {
        background-color: red;
        position: static;
    }
    main {
        margin-top: 0px;
    }
    .section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section h2 {
        text-align: center;
    }

}

@media screen and (max-width:500px) {
    header {
        background-color: blue;
        position: static;
    }
    main {
        margin-top: 0px;
    }
    .section {
        padding:0px;
        width: 90vw;
    }

    .section h2 {
        text-align: center;
    }

    footer {
        display: none;
    }

    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
    }

    .navbar ul a {
        display: block;
    }

}

@media print {
    header {
        position: static;
    }
    .navbar {
        display: none;
    }
    .section {
        padding:0px;
        width: 90vw;
    }
    body {
        font-family: 'Times New Roman', Times, serif;
    }
}