
p {
    color: rgb(255,255,255);
    font-size: 15px;
    font-family: Courier, monospace;
    background-color: #09006f;
    text-align: justify;
    line-height: 1.5;
}

body {
    background-color: #09006f;
}

h1 {
    font-family: 'Sixtyfour Convergence',serif;
    font-size: 15px;
}

.super_text {
    color: gold;
    font-weight: bold;
}

#unikatni_text {
    color: aqua;
    font-size: 20px;
    font-style: italic;
}

ul > li {
    color: white;
}

#super_misto ol li {
    color: gold;
}

h2 {
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 3px greenyellow;
}

ol {
    list-style-type: lower-roman;
}

ul {
    list-style-type: square;
}

table, td, th {
    border: 3px solid white;
    border-collapse: collapse;
    color: white;
    text-align: center;
    vertical-align: bottom;
}
