html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font:
    1.2em / 1.5 Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  padding: 1em;
  margin: 0;
}

.card {
  display: grid;
  grid-template-rows: 200px min-content;
}

.card>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags>* {
  background-color: #999;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  font-size: 80%;
  margin: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3,minmax(200px,1fr));
  gap: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width:500px) {
  
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.tags {
 flex-direction: column;
 text-align: center;
}
}