html {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-areas: 
  'nav nav nav'
  'side ads ads'
  'side main post'
  'foot foot foot';
  gap: 10px;
}

nav {
  background-color: #253B4A;
  grid-area: nav;
}

.ads {
  background-color: #257D92;
  grid-area: ads;
}

aside {
  background-color: #FFBC00;
  grid-area: side;
}

main {
  background-color: #FF530D;
  grid-area: main;
}

.posts {
  background-color: #FFBC00;
  grid-area: post;
}

footer {
  background-color: #257D92;
  grid-area: foot;
}

/* Initial styles */
body, html {
  height: 100%;
  margin: 0;
  width: 100%;
}

nav, aside, main, footer, .posts, .ads {
  color: #fff;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
}